<div class="container">
  <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top container_wrap socket_color"
  id='socket' role="contentinfo" itemscope="itemscope"
itemtype="https://schema.org/WPFooter"
  >
    <div class="col-md-4 d-flex align-items-center">
      <span class='copyright'>Copyright © 2021 - All Rights Reserved | Cyberware </span>
    </div>
  </footer>
  <script src="assets/dist/js/bootstrap.bundle.min.js"></script>

</div>
