<div class="b-example-divider"></div>


<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <h1 style="font-size: 25px;"> Cyberware.com </h1>
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-5" width="65" height="50" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-white w-60 mb-1 rounded-1">Home</a></li>
          <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle px-2 text-white w-60 mb-1" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Training</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown01">
                      <li><a class="dropdown-item" href="/whys">Why your business is at serious risk</a></li>
                    <li><a class="dropdown-item" href="/phishing">Phishing Attack</a></li>
                    <li><a class="dropdown-item" href="/malware">Malware Attack</a></li>
                    <li><a class="dropdown-item" href="/spoofing">Spoofing Attack</a></li>
                    <li><a class="dropdown-item" href="/dos">Denial Of Service Attack</a></li>
                    <li><a class="dropdown-item" href="/hacking">Hacking Attack</a></li>
                    <li><a class="dropdown-item" href="/socialengineering">Social Engineering</a></li>
                  </ul>
                </li>
          <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle px-2 text-white w-60 mb-1" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Videos</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown01">
                      <li><a class="dropdown-item" href="/video-why">Why your business is at serious risk</a></li>
                    <li><a class="dropdown-item" href="/video-phishing">Phishing Attack</a></li>
                    <li><a class="dropdown-item" href="/video-malware">Malware Attack</a></li>
                    <li><a class="dropdown-item" href="/video-spoofing">Spoofing Attack</a></li>
                    <li><a class="dropdown-item" href="/video-dos">Denial Of Service Attack</a></li>
                    <li><a class="dropdown-item" href="/video-hacking">Hacking Attack</a></li>
                    <li><a class="dropdown-item" href="/video-social">Social Engineering</a></li>
                  </ul>
                </li>
        </ul>
        
      </div>
    </div>
  </header>