<nav>
    <ul>
    <li>
      <a href="/profile">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Profile
      </a>
    </li>
    <li>
      <a href="/tests">
        <i class="fa fa-users" aria-hidden="true"></i> Attempted tests
      </a>
    </li>
    <li>
      <a href="/change-password">
        <i class="fa fa-cog" aria-hidden="true"></i> Change Password
      </a>
    </li>
  </ul>
  <div style="text-align: center; margin:60px; ">
    <button type="button" class="btn btn-warning text-white" style="background-color: 
#0a1f29;" onclick="window.location.href='/logout';">Log Out</button>
  
    </ul>
  </nav>