<!doctype html>
<html lang="en">
  <%- include('layouts/head'); -%> 
  <title>hacking</title>
<body>
  <%- include('layouts/header'); -%> 
  <%- include('layouts/sidebar'); -%> 
  <img style="width: 100%; position: inherit;" src="img/security.jpg" alt="security pic">
  <div class="container2">
    <div>
      <br><br>
      <h1 class="centered">What is Hacking?</h1>
      <br><br>
      <p>Hacking is an unauthorized entry into a network or a computer to steal or manipulate information, data or
        files.
        The person involved in this process is named as a hacker. Computer hacking is done using several types of
        programs
        such as Rootkit, Trojan, Keylogger etc. Hackers also employ techniques like browser hijacks, spoofing, phishing
        etc.
        to capture user’s personal or financial details. <br>
        in other words, Computer Hacking is a process to gain unauthorized access of any PC for stealing confidential
        information.
      </p>
      <br>
      <br>
      <h2 style="text-align: center;">How to know if your Computer is Hacked?</h2>
      <p>Your computer may show certain signs of being hacked such as fake antivirus warning messages, unwanted browser
        toolbar,
        redirection to strange websites, random pop ups, ransomware message etc. If you receive any of these warning
        signs, you
        can be sure that your computer has been targeted by a hacker.</p>
      <br>
      <h2 style="text-align: center;">How to Prevent Hacking?</h2>
      <p>In order to prevent this unauthorized intrusion into your systems/networks , you must follow some basic
        security
        guidelines:</p>
      <br>
    </div>
    <div class="phishing-types">
      <ul>
        <b>
          <li>Download Software from Authorized Websites</li>
        </b>
        <p> If you are planning to download a music file, video or a utility software do so from a trusted website. Many
          websites offer a free download of certain high-value software, but those may carry the virus or a spyware
          released
          by a hacker to obtain your PC information.
        </p>
        <b>
          <li>Do not click on Random Email Attachments</li>
        </b>
        <p>
          Email is one of the biggest tools through which hackers spread malware. The spyware or virus are hidden in
          attachments and links clicking on which the infection begins. Hence, never click on random attachments if
          those
          are not from any trusted source.

        </p>
        <b>
          <li>Scan all Types of Hard Drives before Running</li>
        </b>
        <p>
          Hard drives such as pen drives, external hard disk or mobile devices should be scanned by a USB scanner to
          remove
          any kind of malware.

        </p>
        <b>
          <li>Abstain from Keeping Easy Passwords</li>
        </b>
        <p>
          Do not keep easy passwords such as- your name followed by1234, your pet name or name & date of birth etc.
          These
          information can be easily guessed or can be fetched from social media sites, so follow best password
          management
          practices. You should keep an alpha-numeric password for your accounts including a combination of special
          characters.

        </p>
        <b>
          <li>Never Store or Share your Login Information</li>
        </b>
        <p>
          Keeping your user id, password on your PC increases the risk of becoming a victim of hackers. Always try to
          memorize your login information. It is also important to abstain from sharing your password via email.

        </p>
      </ul>
      <h1 class="centered">Importance of an Anti-hacking Software</h1>
      <br><br>
      <p>- Anti-hacking software is also known as a computer antivirus software, which is a must have for every PC.
        <br>-
        Anti-hacking software protects a PC from these cyber attacks by detecting and removing the virus, spyware, and
        other
        malware intrusions. <br>- The antivirus software must be kept updated with the latest virus signature so that
        any types
        of new threats can be detected. <br>- REVE Antivirus software is ideal for internet users as it protects your
        computer's
        data from hackers.
      </p>
      <br>
      <br>
    </div>
    <br><br><br><br>
    <img style="width: 100%; position: inherit;" src="img/security.jpg" alt="security pic"><br><br><br><br>
  </div>
  <br><br><br>
  <div class="col-md-6">
    <div class="h-100 mb-4 bg-light border rounded-1 centered">
      <h2>Congratulation</h2>
      <p>If you are seeing this message, it means you have completed your training on phishing.
        Click on the Quiz button below to finish up your Phishing training.</p>
    </div>
    <div class="continue-button centered">
      <a href="/loader-hacking" class="button">Quiz</a>
    </div>
  </div>
  <br><br><br><br><br><br>

  <%- include('layouts/footer'); -%> 

</body>