<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta http-equiv="Content-Security-Policy"
    content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google.com">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.88.1">
  <title>profile form</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">



  <!-- Bootstrap core CSS -->
  <link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">


  <!-- Custom styles for this template -->
  <link href="css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
  <%- include('layouts/header home'); -%>
    <br>

    <link href="css/form.css" rel="stylesheet">
    <div class="container">
      <form action="/register-profile" method="post" enctype="multipart/form-data">
        <div class="row height d-flex justify-content-center align-items-center">
          <div class="col-md-8">
            <div class="card py-5">
              <div class="row mt-3 g-2">
                <div class="col-md-6">
                  <div class="inputs px-4"> <span class="text-uppercase">First Name</span> <input type="text" required name="given_name"
                      class="form-control"> </div>
                </div>
                <div class="col-md-6">
                  <div class="inputs px-4"> <span class="text-uppercase">Sur-Name <input type="text" required class="form-control" name="family_name">
                  </div>
                </div>
              </div>
              <div class="row mt-3 g-2">
                <div class="col-md-6">
                  <div class="inputs px-4"> <span class="text-uppercase">Phone</span> <input required type="text" name="phone"
                      class="form-control"> </div>
                </div>
                <div class="col-md-6">
                  <div class="inputs px-4"> <span class="text-uppercase">Sex</span> 
                    <select class="form-control" name="sex" required>
                  <option></option>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
                </select>
                  </div>
                </div>
              </div>
              <div class="row mt-3 g-2">
                <div class="col-md-6">
                  <div class="inputs px-4"> <span class="text-uppercase">Address</span> <input required type="text" name="address"
                      class="form-control"> </div>
                </div>
                <div class="col-md-6">
                  <div class="inputs px-4"> <span class="text-uppercase">Profile Pic <input type="file" accept="image/*"
                        class='form-control' name="image" required> </div>
                </div>
              </div>
              <div class="row mt-3 g-2">
               
                <div class="mt-3 px-4  justify-content-between align-items-center"> <button class="btn btn-primary"
                  style="border:rgb(44, 42, 42);background-color: rgb(104, 104, 104);">Create profile</button> </div>
               
              </div>

            </div>
          </div>
        </div>
      </form>
    </div>


    <%- include('layouts/footer'); -%>


</body>

</html>
