<!doctype html>
<html lang="en">
<%- include('layouts/head'); -%>

<title>social engineering</title>
  <body>

    <%- include('layouts/header'); -%>
    <%- include('layouts/sidebar'); -%>


    <img style="width: 100%; position: inherit;" src="img/security.jpg" alt="security pic">

    <div class="container2">
      <br><br>
      <div>
        <h1 class="centered">Social Engineering?</h1>
        <br><br>
        <p>The `art' of in
          uencing people to divulge sensitive information is known as social engi-
          neering and the process of doing so is known as a social engineering attack a social engineering attack
          \employs either
          direct communication or indirect communication.

          Social engineering could be as simple as someone with full hands asking that a door be opened. Similarly,
          a social engineering attack can start with someone dropping USB thumb drives labeled “family photos” in a
          parking lot. These USB thumb drives could contain malware that gets installed onto a computer, compromising
          security in some way. This is known as baiting.

          The researchers has also found that social engineering attacks that are similar, in terms
          of the type of communication, medium, goal, compliance principles and techniques, share a
          similar set of steps and phases throughout the social engineering attack. Social engineering
          attack examples that share a similar set of steps and phases can be grouped together to
          form social engineering attack templates that encapsulate the detailed
          ow of the attack
          whilst abstracting the subjects and objects from the attack. The benet of grouping similar
          social engineering attack examples into social engineering attack templates is that a single
          social engineering attack template can be used to depict several social engineering attack
          scenarios.

          A trivial example of a social engineering attack is when an attacker wishes to connect to
          an organisation's network. As a result of his research, the attacker nds out that a help-desk
          sta member knows the password to the organisation's wireless network. In addition, the
          attacker gained personal information regarding the sta member who has been identied
          as the target. The attacker initiates a conversation with the target, using the acquired
          information to establish trust (in this case the attacker misrepresents himself as an old
          school acquaintance of the target). The attacker subsequently exploits the established trust
          by asking permission to use the company's wireless network facility to send an e-mail. The
          3
          help-desk attendant is willing to supply the required password to the attacker due to the
          misrepresentation, and the attacker is able to gain access to the organisation's network and
          achieve his objective.
        </p>
        <br>
        <br>
        <h2 style="text-align: center;">Cybercrime Attack Types</h2>
        <p>Social Engineering attack can be in various ways. Here are list of Social Engineering:</p>
      </div>
      <div class="phishing-types">
        <ul>
          <b>
            <li> Phishing:</li>
          </b>
          <p> Typically done by email; <br>
            Phishing attack is the most common type of social engineering attack, typically using spoofed
            email addrss to trick people into disclosing login credentials, credit cards numbers, or other
            personal information. Let's look at some variations of this attack:
          </p>
          <b>
            <li>Angler phishing -</li>
          </b>
          <p>
            using spoofed customer service accounts on socil media
          </p>
          <br><br>
          <b>
            <li>Spear phishing</li>
          </b>
          <p>
            phishing attack that target specific organizations or individuals
          </p>
          <br><br>
          <b>
            <li>Whaling -</li>
          </b>
          <p> Whaling is another common variation of phishing that specifically targets top-level business
            executives and the heads of government agencies. Whaling attacks usually spoof the email
            address of other high-ranking people in the company or agency and contain urgent messaging
            about a fake emergency or time-sensitive opportunity. Successful whaling attacks can expose
            a lot of information due to the high-level network access these executives and directors have.
          </p>
          <b>
            <li>Diversion Theft:</li>
          </b>
          <p>
            In an old-school diversion theft scheme, the thief persuades a delivery driver or courier to travel
            to the wrong location or hand off a parcel to someone other than the intended recipient. In an online
            diversion theft scheme, a thief steals sensitive data by tricking the victim into sending it to or
            sharing it with the wrong person. The thief often accomplishes this by spoofing the email address of
            someone in the victim’s company—an auditing firm or a financial institution, for example.
          </p>
          <b>
            <li>Baiting</li>
          </b>
          <p>Baiting is a type of social engineering attack that lures victims into providing sensitive information
            or credentials by promising something of value for free. For example, the victim receives an email that
            promises a free gift card if they click a link to take a survey. The link might redirect them to a spoofed
            Office 365 login page that captures their email address and password and sends them to a malicious actor.
          </p>
          <b>
            <li>Honey Trap</li>
          </b>
          <p>In a honey trap attack, the perpetrator pretends to be romantically or sexually interested in the victim
            and lures them into an online relationship. The attacker then persuades the victim to reveal confidential
            information or pay them large sums of money.</p>
          <b>
            <li>Pretexting</li>
          </b>
          <p>Pretexting is a fairly sophisticated type of social engineering attack in which a scammer creates a pretext
            or fabricated scenario—pretending to be an IRS auditor, for example—to con someone into providing sensitive
            personal or financial information, such as their social security number. In this type of attack, someone can
            also physically acquire access to your data by pretending to be a vendor, delivery driver, or contractor to
            gain your staff’s trust.</p>
          <b>
            <li>SMS Phishing</li>
          </b>
          <p>
            SMS phishing is becoming a much larger problem as more organizations embrace texting as a primary method of
            communication. In one method of SMS phishing, scammers send text messages that spoof multi-factor
            authentication
            requests and redirect victims to malicious web pages that collect their credentials or install malware on
            their
            phones.
          </p>
          <b>
            <li>Scareware</li>
          </b>
          <p>Scareware is a form of social engineering in which a scammer inserts malicious code into a webpage that
            causes
            pop-up windows with flashing colors and alarming sounds to appear. These pop-up windows will falsely alert
            you to
            a virus that’s been installed on your system. You’ll be told to purchase and download their security
            software,
            and the scammers will either steal your credit card information, install real viruses on your system, or
            (most likely) both. <br>
          </p>
          <b>
            <li>Tailgating/Piggybacking</li>
          </b>
          <p>
            Tailgating, also known as piggybacking, is a social engineering tactic in which an attacker physically
            follows
            someone into a secure or restricted area. Sometimes the scammer will pretend they forgot their access card,
            or
            they’ll engage someone in an animated conversation on their way into the area so their lack of authorized
            identification goes unnoticed.
            <br>
          </p>
          <b>
            <li>Watering Hole</li>
          </b>
          <p>
            In a watering hole attack, a hacker infects a legitimate website that their targets are known to visit.
            Then,
            when their chosen victims log into the site, the hacker either captures their credentials and uses them to
            breach
            the target’s network, or they install a backdoor trojan to access the network.
            <br>
          </p>
        </ul>
      </div>
      <br><br><br><br>
      <img style="width: 100%; position: inherit;" src="img/security.jpg" alt="security pic"><br><br><br><br>
      <h1 style="text-align: center;">How to Prevent a Social Engineering Attack</h1>
      <p>There are some very specific things you can do as an individual to protect yourself:</p>
      <ul style="list-style-type: none;">
        <li>Social engineering represents a critical threat to your organization’s security, so you must prioritize the
          prevention and mitigation of these attacks as a core part of your cybersecurity strategy. Preventing a social
          engineering attack requires a holistic approach to security that combines technological security tools with
          comprehensive training for staff and executives.</li><br>
        <li>Your first line of defense against a social engineering attack is training. Everyone in your organization
          should
          know how to spot the most common social engineering tactics, and they should understand the psychological
          triggers
          that scammers use to take advantage of people. A comprehensive social engineering and security awareness
          training
          course should teach staff to:</li><br>
        <li>1. Determine whether an email has been spoofed by hovering over the sender’s name to make sure it matches
          the email
          address and checking the email address for spelling errors and other common giveaways.</li><br>
        <li>2. Be suspicious of any unsolicited communication, especially from someone they don’t know.</li><br>
        <li>3. Be suspicious of email attachments from known and unknown sources avoid downloading them.</li><br>
        <li>4. Hover over links in emails to make sure the website URL is valid.</li><br>
        <li>5. You also need to follow up your security awareness training with periodic tests to ensure your staff
          hasn’t become
          complacent. Many training programs allow for the administration of simulated phishing tests in which fake
          phishing
          emails are sent to staff members to gauge how many people fall for the social engineering tactics. Those staff
          members can then be retrained as needed.</li><br>
        <li>6. Verify someone’s identity through an alternate contact method (e.g. in person or by calling them
          directly) before
          providing any sensitive information.</li><br>
        <li>7. Creating a positive security culture within your organization is critical for containing a social
          engineering
          attack that’s already happened. Your staff needs to feel comfortable self-reporting if they believe they’ve
          fallen
          victim to a social engineering attack, which they won’t do if they’re concerned about facing punishment or
          public
          humiliation. If these issues are reported as soon as they occur, the threat can be mitigated quickly before
          too much
          damage has occurred.</li><br>
        <li>8. Finally, you need to implement technological security tools to prevent attacks on your organization and
          minimize
          the damage from any successful breaches. These tools should include firewalls, email spam filters, antivirus
          and
          anti-malware software, network monitoring tools, and patch management.</li><br>
      </ul>
      <br><br><br><br>
      <img style="width: 100%; position: inherit;" src="img/security.jpg" alt="security pic"><br><br><br><br>
    </div>
    <br><br><br>
    <div class="col-md-6">
      <div class="h-100 mb-4 bg-light border rounded-1 centered">
        <h2>Congratulation</h2>
        <p>If you are seeing this message, it means you have completed your training on phishing.
          Click on the Quiz button below to finish up your Social Engineering training.</p>
      </div>
      <div class="continue-button centered">
        <a href="/loader-social" class="button">Quiz</a>
      </div>
    </div>
    <br><br><br><br><br><br>

    <%- include('layouts/footer'); -%> 

  </body>