<!doctype html>
<html lang="en">
  <%- include('layouts/head'); -%> 
  <title>hacking</title>
<body>
  <%- include('layouts/header'); -%> 
  <%- include('layouts/sidebar'); -%> 
  <img style="width: 100%; position: inherit;" src="img/security.jpg" alt="security pic">
  <div class="container2">
    <div>
      <br><br>
      <h1 class="centered">What is Hacking?</h1>
       </div>
  <br><br><br><br><br><br>

  <%- include('layouts/footer'); -%> 

</body>