<!doctype html>
<html lang="en">
<%- include('layouts/head'); -%>
<title>phishing</title>
  <body>

    <%- include('layouts/header'); -%> 
    <%- include('layouts/sidebar'); -%> 

    <img style="width: 100%; position: inherit;" src="img/security.jpg" alt="security pic">
    <div class="container2">
      <br><br>
      <div>
        <h1 class="centered">What is Phishing?</h1>
       
    </div>
    <br><br><br><br><br><br>
   
    <%- include('layouts/footer'); -%> 

  </body>