<!doctype html>
<html lang="en">
<%- include('layouts/head'); -%>
<title>Reasons businesses like yours are at serious risk of Cybercrime</title>
  <body>
    <%- include('layouts/header'); -%> 
    <%- include('layouts/sidebar'); -%> 

    <img style="width: 100%; position: inherit;" src="img/security.jpg" alt="security pic">
    <div class="container2">
      <br><br>
      <div>
        <h1 class="centered">7 Primary reasons businesses like yours are at serious risk of Cybercrime</h1>
       
    </div>
      <br><br><br><br>

      <%- include('layouts/footer'); -%> 

  </body>