<!doctype html>
<html lang="en">

  <%- include('layouts/head'); -%> 
  <title>Denial of Service</title>
<body>

  <%- include('layouts/header'); -%> 
  <%- include('layouts/sidebar'); -%> 
  <img style="width: 100%; position: inherit;" src="img/security.jpg" alt="security pic">
  <div class="container2">
    <div>
      <br><br>

      <h1 class="centered">What Is a Denial-of-Service (DoS) Attack?</h1>
     
  </div>
  <br><br>

  <%- include('layouts/footer'); -%> 

</body>